.side-bar{
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 220px;
    box-sizing: border-box;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-right: 1%;
    justify-content:top;
    position: relative;
    height: 98.5%;
    border-radius: 10px;
}

.add-stratagem{
    margin-top: 10%;
    margin-bottom: 10%;
}

.add-stratagem-button{
    background-color: lightgrey;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

.search{
    /* margin: 5%; */
    border: 2px solid rgb(133, 119, 93);
    padding: 2px;
    background-color:rgba(245, 222, 179, 1);
    border-radius: 10px;
    width: 90%;
    color: black;
}

.stratagems{
    padding: 5px;
}

.stratagems:hover{
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

.add-manual{

    font-size: .5em;
    margin: 5px;
}

.button{
    background-color: lightgrey;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
}

.save, .cancel, .option{
    margin: 3px;
}

.manual-form{
    margin-bottom: 5px;
    margin-top: 5px;
}

.title-input{
    margin-bottom: 5px;
    padding: 3px;
    border-radius: 3px;
}

.manuals{
    margin: 5px;
}

.manual-options{
    color: white;
    border: none;
    margin-left: 5px;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);

}

.manual-options:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.manual{
    padding: 5px;
    margin: 5px;
    /* box-shadow: 1px 1px 3px rgba(247, 247, 247, .3); */
    border-radius: 5px;
}

.manual:hover{
    background-color: rgba(245, 222, 179, 0.2);;
}

.manuals-list{
    overflow: scroll;
    max-height: 70%;
}