.homepage{
    display: flex;
    color: wheat;
    position: relative;
    padding-top: 1%;
    min-height: 500px;
    max-height: 4000px;
    height: 98%;
    width: 100%;
}

.splash{
    position: absolute;
    width: 98%;
    height: 92.5%;
    z-index: -20000;
    text-align: center;
    background-image: url(../../images/75\ by\ 75\ orthogonal\ maze.svg);
}

.slogan{
    padding-top: 50%;
}

