/* TODO Add site wide styles */
.button{
    background-color: lightgrey;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    border-radius: 10px 10px;
}

body{
    color: wheat;
    z-index: -2;
    background-color: rgba(0, 0, 0, .8);
    font-family:'Times New Roman', Times, serif;
}


#root{
    height: 94.5%;
    z-index: -2;
}

html, body{
    min-height: 99%;
    height: 98%;
    width: 99%;
}


input, textarea{
    background-color: rgba(245, 222, 179, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, .25);

}

input:focus,
textarea:focus{
    outline: 0;
}

.lo-input{
    font-size: 1.2em;
    padding: 5px;
    margin-bottom: .7em;
}

.submit-button{
    width: 33%;
    margin: auto;
    margin-bottom: 5px;
}

.footer{
    position: absolute;
    bottom: 5px;
    display: flex;
    width: 98%;
    align-items:center;
    justify-content: flex-end;
    background-color: rgba(36, 36, 36, 0.8);
    max-height: 40px;
    min-height: 40px;
    border-radius: 10px;
}


