.stratagem-preview-area{
    margin-right: 1%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding: 1%;
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.manual-selected{
    font-size: x-large;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 5px;
}

.stratagems-list{
    overflow-y: scroll;
    max-height: 95%;
}

.preview{
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    min-height: 5.5em;
    max-height: 5.5em;
    margin-bottom: 5px;
    overflow-y: hidden;
}

.preview:hover{
    background-color: rgba(245, 222, 179, 0.2);
}

.strat-title{
    font-weight: bold;
}

